<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

  <div ng-controller="CubeAdvanceSettingCtrl">
    <ng-form name="forms.cube_setting_form">
      <div>
        <div class="form-group">
          <h3 style="margin-left:42px;">聚集组 </h3>
          <div style="margin-left:22px;">
            <div class="box-body">
              <div class="col-xs-12">
                访问 <a href="http://kylin.apache.org/blog/2016/02/18/new-aggregation-group" target="_blank">聚集群</a> 有关聚合组的更多信息。
              </div>
            </div>
          </div>
          <table style="margin-left:42px; width:92%"
                 ng-if="cubeMetaFrame.aggregation_groups.length > 0"
                 class="table table-hover list">
            <tr class="row">
              <th class="col-xs-1">ID</th>
              <th class="col-xs-3">
                <span>聚集组</span>
                <span style="margin-left:42px">
                  <i kylinpopover placement="left" title="最大尺寸组合" template="dimCapTip.html" class="fa fa-info-circle"></i>
                 最大尺寸组合：
                  <input onInput="this.value=this.value.replace(/[^0-9]/g, '')" type="text" ng-model="dim_cap" ng-change="changeDimCap(dim_cap)" ng-disabled="state.mode !== 'edit'" style="margin-left:5px; width:20px;">
                </span>
              </th>
              <th></th>
              <th ng-if="state.mode=='edit'" class="col-xs-1"></th>
            </tr>

            <tr ng-repeat="aggregation_group in cubeMetaFrame.aggregation_groups track by $index" ng-init="rowIndex = $index" class="row">
              <td class="col-xs-1">
                <!-- ID -->
                <b>{{($index + 1)}}</b>
              </td>
              <td class="col-xs-11">
                <table class="table">
                  <tr class="row">
                    <td class="col-xs-3" style="min-width:130px;">
                      包括
                    </td>
                    <td class="col-xs-8">
                      <!-- Dimensions -->

                      <ui-select
                        autofocus="true"
                        close-on-select="false"    ng-disabled="instance.status=='READY'"
                        on-select="refreshAggregationGroup(cubeMetaFrame.aggregation_groups, rowIndex, aggregation_group)"
                        on-remove="refreshAggregationGroup(cubeMetaFrame.aggregation_groups, rowIndex, aggregation_group)"
                        ng-if="state.mode=='edit'" style="width: 100%" multiple ng-model="aggregation_group.includes">
                        <ui-select-match placeholder="选择列...">{{$item.column}}</ui-select-match>
                        <ui-select-choices
                          repeat="rowkey_column.column as rowkey_column in cubeMetaFrame.rowkey.rowkey_columns | filter:$select.search">
                          {{rowkey_column.column}}
                        </ui-select-choices>
                      </ui-select>
                      <p ng-if="state.mode=='view'">
                        {{aggregation_group.includes}}</p>
                    </td>
                    <td class="col-xs-1">
                    </td>
                  </tr>
                  <tr class="row">
                    <td class="col-xs-3">
                      强制尺寸
                    </td>
                    <td class="col-xs-8">
                      <ui-select
                        close-on-select="false"
                        autofocus="true"       ng-disabled="instance.status=='READY'"
                        on-select="refreshAggregationGroup(cubeMetaFrame.aggregation_groups, rowIndex, aggregation_group)"
                        on-remove="refreshAggregationGroup(cubeMetaFrame.aggregation_groups, rowIndex, aggregation_group)"
                        ng-if="state.mode=='edit'" style="width: 100%" multiple ng-model="aggregation_group.select_rule.mandatory_dims">
                        <ui-select-match placeholder="选择列...">{{$item}}</ui-select-match>
                        <ui-select-choices
                          repeat="column in aggregation_group.includes | filter:$select.search">
                          {{column}}
                        </ui-select-choices>
                      </ui-select>

                      <p ng-if="state.mode=='view'">
                        {{aggregation_group.select_rule.mandatory_dims}}</p>
                    </td>
                    <td class="col-xs-1">
                    </td>
                  </tr>
                  <tr class="row">
                    <td class="col-xs-3">
                      层次结构维度
                    </td>
                    <td class="col-xs-9">
                      <table class="table">
                        <tr class="row" ng-repeat="hierarchyDims in aggregation_group.select_rule.hierarchy_dims">
                          <td class="col-xs-10">
                            <ui-select
                              close-on-select="false"
                              autofocus="true"      ng-disabled="instance.status=='READY'"
                              on-select="refreshAggregationHierarchy(cubeMetaFrame.aggregation_groups, rowIndex, aggregation_group,$index,hierarchyDims)"
                              on-remove="refreshAggregationHierarchy(cubeMetaFrame.aggregation_groups, rowIndex, aggregation_group,$index,hierarchyDims)"
                              ng-if="state.mode=='edit'" style="width: 100%" multiple ng-model="hierarchyDims">
                              <ui-select-match placeholder="选择列...">{{$item}}</ui-select-match>
                              <ui-select-choices
                                repeat="column in aggregation_group.includes | filter:$select.search">
                                {{column}}
                              </ui-select-choices>
                            </ui-select>
                            <p ng-if="state.mode=='view'">
                              {{hierarchyDims}}</p>
                          </td>
                          <td class="col-xs-2">
                            <button class="btn btn-sm btn-info"  ng-disabled="instance.status=='READY'"
                                    ng-click="removeHierarchy(aggregation_group,hierarchyDims)"
                                    ng-show="state.mode=='edit'"><i class="fa fa-minus"></i>
                            </button>
                          </td>
                        </tr>
                        <tr class="row">
                          <td class="col-xs-12">
                            <button class="btn btn-sm btn-info"     ng-disabled="instance.status=='READY'"
                                    ng-click="addNewHierarchy(aggregation_group)" ng-show="state.mode=='edit'">新建层次<i class="fa fa-plus"></i>
                            </button>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr class="row">
                    <td class="col-xs-3">
                      接头尺寸
                    </td>
                    <td class="col-xs-9">
                      <table class="table">
                        <tr class="row" ng-repeat="jointDims in aggregation_group.select_rule.joint_dims">
                          <td class="col-xs-10">
                            <!-- Dimensions -->
                            <ui-select
                              close-on-select="false"
                              autofocus="true"    ng-disabled="instance.status=='READY'"
                              on-select="refreshAggregationJoint(cubeMetaFrame.aggregation_groups, rowIndex, aggregation_group,$index,jointDims)"
                              on-remove="refreshAggregationJoint(cubeMetaFrame.aggregation_groups, rowIndex, aggregation_group,$index,jointDims)"
                              ng-if="state.mode=='edit'" style="width: 100%" multiple ng-model="jointDims">
                              <ui-select-match placeholder="选择列...">{{$item}}</ui-select-match>
                              <ui-select-choices
                                repeat="column in aggregation_group.includes | filter:$select.search">
                                {{column}}
                              </ui-select-choices>
                            </ui-select>
                            <p ng-if="state.mode=='view'">
                              {{jointDims}}</p>
                          </td>
                          <td class="col-xs-2">
                            <button class="btn btn-sm btn-info"   ng-disabled="instance.status=='READY'"
                                    ng-click="removeJointDims(aggregation_group,jointDims)"
                                    ng-show="state.mode=='edit'"><i class="fa fa-minus"></i>
                            </button>
                          </td>
                        </tr>
                        <tr class="row">
                          <td class="col-xs-12">
                            <button class="btn btn-sm btn-info"      ng-disabled="instance.status=='READY'"
                                    ng-click="addNewJoint(aggregation_group)" ng-show="state.mode=='edit'">新建联合<i class="fa fa-plus"></i>
                            </button>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
              <td ng-if="state.mode=='edit'" class="col-xs-1">
                <button class="btn btn-xs btn-info"   ng-disabled="instance.status=='READY'"
                        ng-click="removeElement(cubeMetaFrame.aggregation_groups, aggregation_group)"><i
                  class="fa fa-minus"></i>
                </button>
              </td>
            </tr>
          </table>
          <button class="btn btn-sm btn-info" style="margin-left:42px" ng-click="addNewAggregationGroup()"  ng-disabled="instance.status=='READY'"
                  ng-show="state.mode=='edit'">新建聚集组<i class="fa fa-plus"></i>
          </button>
        </div>
        <div class="form-group large-popover" >
          <h3 style="margin-left:42px">行键  <i kylinpopover placement="right" title="行键" template="rowkeyTip.html" class="fa fa-info-circle"></i></h3>
          <div style="padding: 0 42px; word-break: normal;">
            <b>重要： </b>Dimension在HBase行键上的位置对于性能至关重要。 您可以拖放以调整顺序。 简而言之，将过滤维放在非过滤维之前，将高基数放在低基数之前。
          </div>
          <div style="margin-left:42px">
              <div class="box-body">
                <table style="width:92%;position:relative"
                       ng-if="cubeMetaFrame.rowkey.rowkey_columns.length > 0"
                       class="table table-hover table-bordered list">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th class="col-xs-5">列</th>
                    <th>编码方式</th>
                    <th>长度</th>
                    <th>分片</th>
                  </tr>
                  </thead>

                  <tbody ng-if="state.mode!=='edit'" ng-model="convertedRowkeys">
                <!--<tbody ng-if="state.mode!='edit'" ng-model="convertedRowkeys">-->

                <tr ng-repeat="rowkey_column in convertedRowkeys track by $index">

                  <td>
                    <!-- ID -->
                    <span class="ng-binding">{{($index + 1)}}</span>
                  </td>
                  <td>
                    <!--Column Name -->
                    <span>{{rowkey_column.column}}</span>
                  </td>

                  <td>
                    <span>{{rowkey_column.encoding}}</span>

                  </td>
                  <td>
                    <span>{{rowkey_column.valueLength}}</span>
                  </td>

                  <td>
                   <span>{{rowkey_column.isShardBy}}</span>
                  </td>
                </tr>
                </tbody>


                  <tbody ng-show="state.mode=='edit'" ui-sortable="sortableOptions" ng-model="convertedRowkeys">
                  <!--<tbody ng-if="state.mode!='edit'" ng-model="convertedRowkeys">-->

                  <tr ng-repeat="rowkey_column in convertedRowkeys track by $index"
                      class="sort-item">

                    <td>
                      <!-- ID -->
                      <span class="ng-binding badge">{{($index + 1)}}</span>
                    </td>
                    <td>
                      <!--Column Name -->
                      <input type="text" class="form-control" placeholder="列名.."
                             ng-change="refreshRowKey(convertedRowkeys,$index,rowkey_column)"  ng-disabled="true"
                             tooltip="行键列名.." tooltip-trigger="focus"
                             ng-model="rowkey_column.column" class="form-control">
                    </td>

                    <td>
                      <select  style="width:180px;"     ng-disabled="instance.status=='READY'"
                              chosen ng-model="rowkey_column.encoding"
                              ng-change="refreshRowKey(convertedRowkeys,$index,rowkey_column);"
                              ng-options="dt.value as dt.name for dt in getEncodings(rowkey_column.column)">
                        <option value=""></option>
                      </select>
                    </td>
                    <td>
                      <!--Column Length -->
                      <input type="text" class="form-control" placeholder="Column Length.."
                             tooltip="行键列的长度" tooltip-trigger="focus"
                             ng-disabled="rowkey_column.encoding.indexOf('dict')>=0||rowkey_column.encoding.indexOf('date')>=0||rowkey_column.encoding.indexOf('time')>=0||instance.status=='READY'"
                             ng-change="refreshRowKey(convertedRowkeys,$index,rowkey_column);"
                             ng-model="rowkey_column.valueLength" class="form-control">

                      <small class="help-block red" ng-show="state.mode=='edit' && rowkey_column.encoding.indexOf('integer')>=0 && (rowkey_column.valueLength>8 || rowkey_column.valueLength<1)">整数编码列长度应在1到8之间</small>
                    </td>

                    <td>
                      <select  style="width:180px;"
                              chosen ng-model="rowkey_column.isShardBy"
                              tooltip="默认为假"     ng-disabled="instance.status=='READY'"
                              data-placeholder="默认为假"
                              ng-change="refreshRowKey(convertedRowkeys,$index,rowkey_column,true)"
                              ng-options="dt as dt for dt in cubeConfig.rowKeyShardOptions">
                        <option value=""></option>
                      </select>
                      <small class="help-block red" ng-show="state.mode=='edit' && rule.shardColumnAvailable==false && rowkey_column.isShardBy == true">最多允许一个“分片”列。</small>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>
        <!--Edit Mandatory Cuboids-->
        <div class="form-group large-popover" ng-if="state.mode=='edit' || (cubeMetaFrame.mandatory_dimension_set_list.length > 0 && state.mode!=='edit')">
          <h3 style="margin-left:42px">强制性长方体</h3>
          <div style="margin-left:42px;">
            <div class="box-body">
              <!-- view mode-->
              <table ng-if="cubeMetaFrame.mandatory_dimension_set_list.length > 0 && state.mode!=='edit'" class="table table-hover table-bordered list" style="table-layout: fixed;width:92%;">
                <thead>
                  <tr>
                    <th>长方体</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="dimensionSet in cubeMetaFrame.mandatory_dimension_set_list">
                    <td>
                      <p>{{dimensionSet}}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- edit mode-->
              <table ng-if="state.mode=='edit'" class="table table-hover table-bordered list" style="table-layout: fixed;width:92%;">
                <thead>
                  <tr>
                    <th>长方体</th>
                    <th style="width:5%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="dimensionSet in cubeMetaFrame.mandatory_dimension_set_list">
                    <td>
                      <ui-select multiple ng-model="dimensionSet" theme="bootstrap" sortable="true" close-on-select="false" class="form-control">
                        <ui-select-match placeholder="选择尺寸...">{{$item.column}}</ui-select-match>
                        <ui-select-choices repeat="dimension.column as dimension in cubeMetaFrame.rowkey.rowkey_columns | filter:$select.search">
                          <div ng-bind-html="dimension.column | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </td>
                    <td>
                      <button class="btn btn-xs btn-info" ng-click="removeDimensionSet($index)"><i class="fa fa-minus"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <ui-select multiple ng-model="mandatoryDimensionSet.select" theme="bootstrap" sortable="true" close-on-select="false" class="form-control">
                        <ui-select-match placeholder="选择尺寸...">{{$item.column}}</ui-select-match>
                        <ui-select-choices repeat="dimension.column as dimension in cubeMetaFrame.rowkey.rowkey_columns | filter:$select.search">
                          <div ng-bind-html="dimension.column | highlight: $select.search"></div>
                        </ui-select-choices>
                      </ui-select>
                    </td>
                    <td>
                      <button class="btn btn-xs btn-info" ng-click="addDimensionSet()"><i class="fa fa-plus"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                      <label>从文件导入长方体:</label>
                      <input type="file" name="cuboids" id="cuboids" style="display: inline;"/>
                      <button class="btn btn-xs btn-info" ng-click="uploadMandatoryDimensionSetList()">上传</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--Cube Engine-->
        <div class="form-group large-popover" style="margin-bottom:30px;">
          <h3 style="margin-left:42px;margin-bottom:30px;">多维数据集引擎  <i kylinpopover placement="right" title="Cube Engine" template="CubeEngineTip.html" class="fa fa-info-circle"></i></h3>
          <div class="row" style="margin-left:42px">
            <label class="control-label col-xs-12 col-sm-3 no-padding-right font-color-default"><b>引擎种类 :</b></label>
            <div class="col-xs-12 col-sm-6">
              <select style="width: 100%" chosen
                      ng-model="cubeMetaFrame.engine_type"
                      ng-if="state.mode=='edit'"
                      ng-options="et.value as et.name for et in cubeConfig.engineType">
                <option value="">--选择引擎类型--</option>
              </select>
              <span ng-if="state.mode=='view'&&cubeMetaFrame.engine_type==2">MapReduce</span>
              <span ng-if="state.mode=='view'&&cubeMetaFrame.engine_type==4">Spark</span>
            </div>
          </div>
        </div>
        <div class="form-group large-popover">
          <h3 style="margin-left:42px">高级词典  <i kylinpopover placement="right" title="Advanced Dictionaries" template="AdvancedDictionariesTip.html" class="fa fa-info-circle"></i></h3>
          <div style="margin-left:42px">
            <div class="box-body">
              <br/>
              <table class="table table-striped table-hover">
                <thead>
                <tr>
                  <th>列</th>
                  <th>构建类</th>
                  <th>重用</th>
                  <th ng-if="state.mode=='edit'">操作</th>
                </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="dictionaries in cubeMetaFrame.dictionaries | filter: state.measureFilter track by $index">
                    <td>
                      <!--Column -->
                      <span>{{dictionaries.column}}</span>
                    </td>
                    <td>
                      <!--Builder-->
                      <span>{{dictionaries.builder}}</span>
                    </td>
                    <td>
                      <!--Reuse-->
                      <span>{{dictionaries.reuse}}</span>
                    </td>
                    <td ng-if="state.mode=='edit'">
                      <!--Edit Button -->
                      <button class="btn btn-xs btn-info" ng-click="addNewDictionaries(dictionaries, $index)" ng-disabled="instance.status=='READY'">
                        <i class="fa fa-pencil"></i>
                      </button>
                      <!--Remove Button -->
                      <button class="btn btn-xs  btn-danger" ng-click="removeElement(cubeMetaFrame.dictionaries, dictionaries)" ng-disabled="instance.status=='READY'">
                        <i class="fa fa-trash-o"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--Add Dictionaries Button-->
        <div class="form-group" style="margin-left:42px;">
          <button class="btn btn-sm btn-info" ng-click="addNewDictionaries()" ng-show="state.mode=='edit' && !addNew" ng-disabled="instance.status=='READY'">
            <i class="fa fa-plus"></i> 字典
          </button>
       </div>
       <!--Edit Dictionary-->
       <ng-form name="edit_mes_form" style="margin-left:42px;">
         <div class="box box-solid"  ng-if="addNew" style="margin-left:42px;">
           <div class="box-header">
             <h4 class="box-title text-info">编辑字典</h4>
           </div>
           <div class="box-body">
             <div class="row">
               <div class="col-xs-8">
                 <!--Column-->
                 <div class="form-group middle-popover">
                   <div class="row">
                     <label class="col-xs-12 col-sm-3 control-label no-padding-right font-color-default"><b>Column</b></label>
                     <div class="col-xs-12 col-sm-6">
                       <select class="form-control" chosen
                               ng-model="newDictionaries.column"
                               ng-change="measureReturnTypeUpdate();"
                               ng-options="column as column for column in getFactColumns()" required>
                         <option value="">-- 选择一列 --</option>
                       </select>
                     </div>
                   </div>
                 </div>
                 <div class="form-group">
                   <div class="row" style="margin-left:5px;">
                     <label class="radio-inline ng-binding ng-scope">
                       <input type="radio" name="reuse" ng-value=false ng-model="isReuse"  ng-change="change()"/><b>构建类</b>
                     </label>
                     <label class="radio-inline ng-binding ng-scope">
                       <input type="radio" name="reuse"  ng-value=true ng-model="isReuse" ng-change="change()"/><b>重用</b>
                     </label>
                   </div>
                 </div>
                 <!--Builder-->
                 <div class="form-group" ng-if="!isReuse" >
                   <div class="row">
                     <label class="col-xs-12 col-sm-3 control-label no-padding-right font-color-default"><b>构建类</b></label>
                     <div class="col-xs-12 col-sm-6">
                       <select class="form-control" chosen
                               ng-model="newDictionaries.builder"
                               ng-options="item.value as item.name for item in cubeConfig.buildDictionaries"
                               required>
                         <option value="">-- 选择一个构建类别--</option>
                       </select>
                     </div>
                   </div>
                 </div>
                 <!--Reuse-->
                 <div class="form-group middle-popover" ng-if="isReuse" >
                   <div class="row">
                     <label class="col-xs-12 col-sm-3 control-label no-padding-right font-color-default"><b>Reuse</b></label>
                     <div class="col-xs-12 col-sm-6">
                       <select class="form-control" chosen
                               ng-model="newDictionaries.reuse"
                               ng-change="measureReturnTypeUpdate();"
                               ng-options="column as column for column in getFactColumns()" required>
                         <option value="">-- 选择一列 --</option>
                       </select>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="box-footer">
             <button class="btn btn-sm btn-info" ng-disabled="edit_mes_form.$invalid"
                     ng-click="saveNewDictionaries()" ng-show="state.mode=='edit'">好的</button>
             <button class="btn btn-link" ng-click="clearNewDictionaries()">取消</button>
           </div>
         </div>
         <!-- Advanced Lookup Table-->
         <div class="form-group large-popover" style="margin-bottom:30px;">
           <h3 style="margin-left:42px;margin-bottom:30px;">高级快照表  <i kylinpopover placement="right" title="高级快照表" template="AdvanceSnapshotTableTip.html" class="fa fa-info-circle"></i></h3>
           <div style="margin-left:42px">
             <div class="box-body">
               <br/>
               <table class="table table-striped table-hover">
                 <thead>
                 <tr>
                   <th>快照表</th>
                   <th>类型</th>
                   <th>全部</th>
                   <th ng-if="state.mode=='edit'">操作</th>
                 </tr>
                 </thead>
                 <tbody>
                   <tr ng-repeat="snapshotTable in cubeMetaFrame.snapshot_table_desc_list track by $index">
                     <td>
                       <p>{{snapshotTable.table_name}}</p>
                     </td>
                     <td>
                       <p>{{snapshotTable.storage_type}}</p>
                     </td>
                     <td>
                       <input type="checkbox" ng-model="snapshotTable.global" disabled="true">
                     </td>
                     <td ng-if="state.mode=='edit'">
                       <button class="btn btn-xs btn-info" ng-click="addNewSnapshot(snapshotTable, $index)" ng-disabled="instance.status=='READY'">
                         <i class="fa fa-pencil"></i>
                       </button>
                       <button class="btn btn-xs  btn-danger" ng-click="removeSnapshotTable($index)" ng-disabled="instance.status=='READY'">
                         <i class="fa fa-trash-o"></i>
                       </button>
                     </td>
                   </tr>
                 </tbody>
               </table>
             </div>
           </div>
           <!-- Add  Snapshot-->
           <div class="form-group" style="margin-left:42px;">
             <button class="btn btn-sm btn-info" ng-click="addNewSnapshot()" ng-show="state.mode=='edit' && !addNewSanpshot" ng-disabled="instance.status=='READY'">
               <i class="fa fa-plus"></i> 快照表
             </button>
           </div>
           <!--Edit Snapshot-->
           <div class="box box-solid"  ng-if="addNewSanpshot" style="margin-left:42px;">
             <div class="box-header">
               <h4 class="box-title text-info">编辑快照</h4>
             </div>
             <div class="box-body">
               <div class="row">
                 <div class="col-xs-8">
                   <!--Column-->
                   <div class="form-group middle-popover">
                     <div class="row">
                       <label class="col-xs-12 col-sm-3 control-label no-padding-right font-color-default"><b>Snapshot Table</b></label>
                       <div class="col-xs-12 col-sm-6">
                         <select style="width:95%" chosen ng-model="newSnapshot.select.table_name"
                              ng-options="tableName as tableName for tableName in cubeLookups">
                         <option value=""></option>
                       </select>
                       </div>
                     </div>
                   </div>
                   <div class="form-group">
                     <div class="row">
                       <label class="col-xs-12 col-sm-3 control-label no-padding-right font-color-default"><b>Type</b></label>
                       <div class="col-xs-12 col-sm-6">
                         <select style="width:95%" chosen ng-model="newSnapshot.select.storage_type"
                              ng-change="changeSnapshotStorage(newSnapshot.select)"
                              ng-options="storageType.value as storageType.name for storageType in cubeConfig.snapshotStorageTypes">
                           <option value=""></option>
                         </select>
                       </div>
                     </div>
                   </div>
                   <!--Builder-->
                   <div class="form-group" ng-if="!isReuse" >
                     <div class="row">
                       <label class="col-xs-12 col-sm-3 control-label no-padding-right font-color-default"><b>全部的</b></label>
                       <div class="col-xs-12 col-sm-6">
                         <input type="checkbox" ng-model="newSnapshot.select.global" ng-disabled="(newSnapshot.select.storage_type == 'hbase')">
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <div class="box-footer">
               <button class="btn btn-sm btn-info"
                     ng-click="addSnapshot(newSnapshot.select)" ng-show="state.mode=='edit'">好的</button>
               <button class="btn btn-link" ng-click="cancelEditSnapshot()">取消</button>
             </div>
           </div>
         </div>
         <!--Edit ColumnFamily-->
         <div class="form-group large-popover" >
           <h3 style="margin-left:42px">高级列族  <i kylinpopover placement="right" title="高级列族" template="AdvancedColumnFamilyTip.html" class="fa fa-info-circle"></i></h3>
           <div style="margin-left:42px">
             <div class="box-body">
               <!-- VIEW MODE -->
               <div class="row"  ng-if="state.mode=='view'&& cubeMetaFrame.hbase_mapping.column_family.length > 0">
                 <table class="table table-striped table-hover">
                   <thead>
                   <tr>
                     <th class="col-xs-1">列族</th>
                     <th class="col-xs-11">度量</th>
                   </tr>
                   </thead>
                   <tbody class="cube-dimension">
                   <tr ng-repeat="colFamily in cubeMetaFrame.hbase_mapping.column_family | filter:dimState.filter track by $index">
                     <!--ID -->
                     <td class="col-xs-1">
                       <b>{{colFamily.name}}</b>
                     </td>
                     <!--Name -->
                     <td class="col-xs-11">
                       <span>{{colFamily.columns[0].measure_refs}}</span>
                     </td>
                   </tr>
                   </tbody>
                 </table>
               </div>

               <!-- EDIT MODE -->
               <div  ng-if="state.mode=='edit'" class="form-group " style="width: 100%">
                 <table ng-if="cubeMetaFrame.hbase_mapping.column_family.length > 0"
                        class="table table-hover">

                   <tr class="row">
                     <th class="col-xs-1">列族</th>
                     <th class="col-xs-10">度量</th>
                     <th class="col-xs-1">操作</th>
                   </tr>

                   <tr ng-repeat="colFamily in cubeMetaFrame.hbase_mapping.column_family" ng-init="rowIndex = $index" class="row">
                     <td class="col-xs-1">
                       <b>{{colFamily.name}}</b>
                     </td>

                     <td class="col-xs-10">
                       <ui-select
                         style="width: 100%"
                         close-on-select="false"
                         on-select="refreshColumnFamily(cubeMetaFrame.hbase_mapping.column_family, rowIndex, colFamily)"
                         on-remove="refreshColumnFamily(cubeMetaFrame.hbase_mapping.column_family, rowIndex, colFamily)"
                         ng-model="colFamily.columns[0].measure_refs"
                         multiple>
                         <ui-select-match placeholder="选择度量...">{{$item}}</ui-select-match>
                         <ui-select-choices repeat="measure in getAllMeasureNames() | filter:$select.search |assignedMeasureNames:getAssignedMeasureNames()">
                           {{measure}}
                         </ui-select-choices>
                       </ui-select>
                     </td>

                     <td class="col-xs-1">
                       <!--Remove Button -->
                       <button ng-if="colFamily.columns[0].measure_refs.length == 0" class="btn btn-xs btn-info" ng-click="removeElement(cubeMetaFrame.hbase_mapping.column_family, colFamily)">
                         <i class="fa fa-minus"></i>
                       </button>
                     </td>

                   </tr>
                 </table>
               </div>

               <div class="form-group" >
                 <button class="btn btn-sm btn-info" ng-click="addColumnFamily()" ng-show="state.mode=='edit'">
                   <i class="fa fa-plus"></i> 列族
                 </button>
               </div>

             </div>
           </div>
         </div>
       </ng-form>
     </div>
   </ng-form>
 </div>

<script type="text/ng-template" id="dimCapTip.html">
  <div>
    <ol style="font-size:12px;">
      <li>维度限制意味着最大维度可能包含在一组SQL查询中。</li>
      <li>在一组查询中，如果每个查询所需的维数不超过5个，则可以在此处设置5个。</li>
    </ol>
  </div>
</script>
<script type="text/ng-template" id="rowkeyTip.html">
  <div>
    <h4>通过此列分片？</h4>
    <p>
      如果指定为“ true”，则多维数据集数据将根据其值进行分片。
    </p>

    <h4>行键编码</h4>
    <ol>
      <li>
       “ dict”编码将尝试为该维度建立字典
      </li>
      <li>
       “固定长度”编码将按固定长度字节对尺寸值进行填充编码
      </li>
      <li>
        “ int”编码使用可变整数来编码整数
      </li>
    </ol>
  </div>
</script>
<script type="text/ng-template" id="AdvancedDictionariesTip.html">
  <div>
    <h4>字典的特殊设置。</h4>
    <ol>
      <li>
        “全局字典”是精确计数非重复度量的默认字典，它支持所有段之间的汇总。
      </li>
      <li>
       “段字典”是用于精确计数不同度量的特殊命令，它基于一个段并且不能
         支持细分之间的汇总。
         具体来说，如果多维数据集未分区，或者可以确保所有SQL都按partition_column分组，
         您可以使用“细分词典”代替“全局词典”。
      </li>
    </ol>
  </div>
</script>

<script type="text/ng-template" id="AdvancedColumnFamilyTip.html">
  <div>
    <h4>如果有不止一种超高基数精确计数的不同量度，
         您可以将这些指标分配给更多的列族。</h4>
  </div>
</script>
<script type="text/ng-template" id="CubeEngineTip.html" >
  <div>
    <h4>
       选择用于构建多维数据集的多维数据集引擎。
    </h4>
  </div>
</script>

<script type="text/ng-template" id="AdvanceSnapshotTableTip.html">
  <div>
    <h4>提前为全局查找表设计快照，并提供不同的存储类型。</h4>
  </div>
</script>
