<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->

<script type="text/ng-template" id="deleteSegment.html">
    <div class="modal-header">
        <h4 tooltip="refresh">多维数据集段已删除确认</h4>
    </div>
    <div class="modal-body" style="background-color: white">
        <div ng-if="cube.model.partition_desc.partition_date_column" class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div ng-if="!!!(cube.segments) || cube.segments.length == 0">
                    <span class="text-info">没有要删除的细分。</span>
                </div>
                <div ng-if="cube.segments && cube.segments.length > 0" class="row">
                    <table class="table table-striped list">
                        <tbody>
                        <tr>
                            <td>删除段</td>
                            <td>
                                <select ng-model="segment.selected"
                                        ng-init="segment.selected=cube.segments[0];"
                                        ng-options="segment as segment.name for segment in cube.segments">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>分部详细信息</td>
                            <td>
                                <table class="table table-condensed">
                                    <tr>
                                        <td>开始日期（包括在内）</td>
                                        <td>{{segment.selected.date_range_start |  reverseToGMT0}}</td>
                                    </tr>
                                    <tr>
                                        <td>结束日期（排除）</td>
                                        <td>{{segment.selected.date_range_end |  reverseToGMT0}}</td>
                                    </tr>
                                    <tr>
                                        <td>上次建立时间</td>
                                        <td>{{segment.selected.last_build_time | utcToConfigTimeZone}}</td>
                                    </tr>
                                    <tr>
                                        <td>上次版本编号</td>
                                        <td>{{segment.selected.last_build_job_id}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div ng-if="segment.selected && segment.selected.name !== cube.segments[0].name && segment.selected.name !== cube.segments[cube.segments.length-1].name">
                        <span class="text-warning">如果删除选定的段，多维数据集将产生间隙.</span>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div ng-if="!cube.model.partition_desc.partition_date_column" class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <span>未定义分区日期列。 如果要放置立方体，请单击“拖放”.</span>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="cancel()">关闭</button>
        <button class="btn btn-success" ng-click="deleteSegment()" ng-disabled="!(cube.segments && cube.segments.length > 0)">删除
        </button>
    </div>
</script>