<!--
* Licensed to the Apache Software Foundation (ASF) under one
* or more contributor license agreements.  See the NOTICE file
* distributed with this work for additional information
* regarding copyright ownership.  The ASF licenses this file
* to you under the Apache License, Version 2.0 (the
* "License"); you may not use this file except in compliance
* with the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
-->
<div class="modal-body streaming-source" style="height: 360px;">
  <div class="col-xs-5">
    <p class="text-info">
     需要在此处输入流式源记录，将检测源模式并为之创建表模式
       流媒体。
    </p>

    <div style="padding:15px;" class="has-error">
      <small class="help-block" ng-show="streaming.sourceSchema==''&&form.setStreamingSchema.$submitted">请
         输入流源记录以生成模式。
      </small>
      <small class="help-block" ng-if="!table.sourceValid&&table.schemaChecked">
        源json无效，请更正您的架构，然后重新生成。
      </small>
    </div>
    <div style="margin-bottom: 20px;">
      <span class="label label-info">JSON</span>
    </div>

    <div ng-model="streaming.sourceSchema" ui-ace="{
    useWrapMode : true,
    mode:'json',
    onLoad: streamingOnLoad
  }">
    </div>
  </div>
  <div class="col-xs-1" style="margin-top:300px;text-align:center;">
    <button type="button" class="btn btn-primary" ng-click="streamingOnChange()"><i
      class="fa fa-angle-double-right fa-5" style="font-size:2em;"></i></button>
  </div>
  <div class="col-xs-6" ng-show="table.schemaChecked">
    <ol class="text-info" style="margin-bottom: 30px;">
      <li>选择流表的“时间戳”类型列</li>
      <li>默认情况下，系统将选择“默认”作为数据库，您可以指定类似“ database.table”的数据库</li>
      <li>从时间戳字段计算得出的时间维度，以帮助针对不同的时间粒度进行分析。</li>
    </ol>
    <form class="form-horizontal" name="form.setStreamingSchema" novalidate>
      <div class="form-group required">
        <label class="col-xs-4 control-label" style="text-align: left;">表名</label>

        <div class="col-xs-8"
             ng-class="{'has-error':form.setStreamingSchema.streamingObject.$invalid && (form.setStreamingSchema.streamingObject.$dirty||form.setStreamingSchema.$submitted)}">
          <input type="text" name="streamingObject" placeholder="database.table" required="" ng-model="table.name" class="form-control"/>
          <small class="help-block"
                 ng-show="form.setStreamingSchema.streamingObject.$error.required&&(form.setStreamingSchema.streamingObject.$dirty||form.setStreamingSchema.$submitted)">
            表名是必需的。
          </small>
        </div>
      </div>
    </form>
    <table class="table table-hover table-bordered">
      <tr>
        <th></th>
        <th>列</th>
        <th>列类型</th>
        <th>备注</th>
      </tr>
      <tr ng-repeat="column in columnList">
        <td><label style="width:100%;cursor: pointer;" for="{{column.name}}"><input style="width:1em;height:1em;"
                                                                                    type="checkbox"
                                                                                    id="{{column.name}}"
                                                                                    ng-model="column.checked"
                                                                                    ng-true-value="Y"
                                                                                    ng-false-value="N"/></label>
        </td>
        <td>{{column.name}}</td>
        <td>
          <select chosen ng-model="column.type"
                  ng-options="type as type for type in tableConfig.dataTypes"
                  data-placeholder="select a column type"
                  style="width: 120px !important;"
                  class="chosen-select">
          </select>
        </td>
        <td>
          <label ng-if="column.type=='timestamp'&&column.fromSource=='Y'" class="badge badge-info">时间戳</label>
          <label ng-if="column.fromSource=='N'" class="badge badge-info">导出时间维度</label>
        </td>
      </tr>
    </table>

    <div class="has-error" ng-if="!rule.timestampColumnExist&&form.setStreamingSchema.$submitted">
      <small class="help-block">
        您应该至少选择一个从源模式生成的“时间戳”类型列。	
      </small>
    </div>
  </div>
</div>
